* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 1280px;
}

header {
    min-height: 50px;
    background-color: #3cc3b5;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    padding: 20px;
    justify-content: space-between;
}

h2 {
    color: #3cc3b5;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.btn-cart {
    width: 133px;
    height: 40px;
    border: 3px solid #ffffff;
    background-color: #ffffff;
    color: #3cc3b5;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    text-transform: uppercase;
}

.logo {
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

.icon-cart {
    padding-right: 10px;
}

.btn-cart:hover {
    color: #fff;
    background: #afafaf;
    cursor: pointer;
}

.btn-cart:active {
    color: #ffffff;
    background: #afafaf;
    outline: none;
}

.products {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 253px;
    /* height: 300px; */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    overflow: hidden;
    border-bottom: 5px solid #3cc395;
    margin: 25px;
    padding-bottom: 20px;
}

.product-item h3 {
    color: #afafaf;
    font-size: 20px;
    font-weight: 600;
    line-height: 0;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 15px;
}

.product-item p {
    color: #afafaf;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    padding-top: 20px;
}

.buy-btn {
    width: 90px;
    height: 40px;
    background-color: #3cc395;
    border-radius: 7px;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.product-item:hover {
    border-bottom: 5px solid #afafaf;
}

.buy-btn:hover {
    color: #fff;
    background: #afafaf;
    cursor: pointer;
}

.buy-btn:active {
    color: #ffffff;
    background: #afafaf;
    outline: none;
}

.cart {
    margin-top: 30px;
    display: none;
}

.out {
    font-weight: bold;
}
